<h1>Welcome to: <%= @restaurant.name %></h1>
<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<div>
  <%= link_to "âœðŸ» Edit", edit_restaurant_path(@restaurant), class: "btn-show"  %>
  <%= link_to "ðŸ—‘ Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-show"   %>
</div>
<br>
<br>
<h2>Reviews:</h2>
<br>
<% @reviews.each do |review| %>
<p>Content: <strong><%= review.content %></strong></p>
<p>Rating: <%= review.rating%></p>
<%= link_to "Delete ðŸ—‘", review_path(review), method: :delete, data: { confirm: "Are you sure?" } , class: "btn"  %>
<hr>
<% end %>

<%= link_to "Add a review â­ï¸", new_restaurant_review_path(@restaurant)  %>
